node_modules/
#target/
*.log
*.md
.git/

# Ignorar arquivos de configuração do editor
.vscode/
.idea/
*.swp

# Ignorar arquivos de build do frontend
frontend/dist/
frontend/node_modules/

# Ignorar arquivos temporários do sistema operacional
*.tmp
*.bak
*.swp
Thumbs.db
.DS_Store

# Ignorar arquivos de cache
**/.cache/
**/.npm/
**/.yarn/